<h3 class="display-6 mt-5 text-uppercase gradient-text" style="font-size: 30px;">
    Dashboard

</h3>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Agents</div>
            <div class="card-body">

                <p class="card-text text-center">{{ totalAgents }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Campaigns</div>
            <div class="card-body">
                <p class="card-text text-center">{{ totalCampaigns }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Data Tables
            </div>
            <div class="card-body">
                <p class="card-text text-center">{{ totalDataTables }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Outbound vs Inbound</div>
            <div class="card-body">
                <p class="card-text text-center"><span> {{ totalInbound }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" stroke="black" stroke-linecap="round" stroke-width="2" d="M15 19V5M9 19V5" />
                    </svg>
                    <span> {{ totalOutbound }} </span>
                </p>
            </div>
        </div>
    </div>
</div>



<div *ngIf="totalDataTables">
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        <div class="col" *ngFor="let campaign of campaignData">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header text-center text-white" style="background-color: #367588;">
                    {{ campaign.campaignTitle }}
                </div>
                <div class="card-body">
                    <p class="card-text text-center">
                        <span class="fst-italic" style="color: #002147;">Total Leads</span>
                        <span style="margin-left: 44px;">{{ campaign.totalLeads }}</span><br />
                        <span class="fst-italic" style="color: #002147;">Generated</span>
                        <span style="margin-left: 50px;">{{ campaign.generatedLeads }}</span><br />
                        <span class="fst-italic" style="color: #002147;">Called</span>
                        <span style="margin-left: 80px;">{{ campaign.calledLeads }}</span><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>