<h3 class="display-6 mt-5 text-uppercase gradient-text" style="font-size: 30px;">
    Dashboard

</h3>

<!-- class="mb-0 text-muted mt-5 d-flex justify-content-between align-items-center" -->

<!-- <div class="container-fluid mb-5 mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top" style="border-color: #005b96; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #005b96; font-weight: 500;">TOTAL USER VS LOGIN USER</p>
                            <h4 class="my-1 text-dark">1220/65</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                                class="fa-solid fa-user fa-2xl" style="color: #6497b1;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top" style="border-color: #EA6A47; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #EA6A47; font-weight: 500;">PHYSICAL USER VS LOGIN USER</p>
                            <h4 class="my-1 text-dark">793/48</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                                class="fa-solid fa-user fa-2xl" style="color: #EA6A47;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #005b96; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #005b96; font-weight: 500;">VIRTUAL USER VS LOGIN USER</p>
                            <h4 class="my-1 text-dark">427/17</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                                class="fa-solid fa-user fa-2xl" style="color: #6497b1;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #EA6A47; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #EA6A47; font-weight: 500;">LOGIN USER VS PAUSED USER</p>
                            <h4 class="my-1 text-dark">427/17</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                                class="fa-solid fa-user fa-2xl" style="color: #EA6A47;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-5">
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #EA6A47; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #EA6A47; font-weight: 500;">PROJECTS</p>
                            <h4 class="my-1 text-dark">427/17</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa-solid fa-diagram-project fa-2xl" style="color: #EA6A47;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #005b96; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #005b96; font-weight: 500;">TOTAL CALL -
                                BANDHAN_EAS_2024_(FEB)</p>
                            <h4 class="my-1 text-dark">53758</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa-solid fa-headset fa-2xl" style="color: #005b96"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #EA6A47; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #EA6A47; font-weight: 500;">TOTAL CALL - MEHEDI_CAMPAIGN</p>
                            <h4 class="my-1 text-dark">24</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa-solid fa-headset fa-2xl" style="color: #EA6A47"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #005b96; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #005b96; font-weight: 500;">TOTAL CALL - BBS_1_29.06.2024</p>
                            <h4 class="my-1 text-dark">11</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa-solid fa-headset fa-2xl" style="color: #005b96"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-5">
        <div class="col">
            <div class="card radius-10 border-end border-bottom border-top"                style="border-color: #005b96; ">
                <div class="card-body mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0" style="color: #005b96; font-weight: 500;">TOTAL CALL - B2_CRM_29.06.2024</p>
                            <h4 class="my-1 text-dark">17</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <i class="fa-solid fa-headset fa-2xl" style="color: #005b96"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> -->

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-sm-8">
        <div class="card radius-10 border-1 border-3">
            <div class="card-header" style="color: #005b96; font-weight: 700;">
                Monthly Service Overview
            </div>
            <div class="card-body">

                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10 border-1 border-3">
            <div class="card-header" style="color: #005b96; font-weight: 700;">
                Service Sources
            </div>
            <div class="card-body">

                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

</div> -->



<!-- <div class="card radius-10 border-1 border-3 mt-5">

    <div class="card-header" style="color: #005b96; font-weight: 700;">
        Monthly Service Overview
    </div>
    <div class="card-body">

        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
    </div>
</div> -->


<div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Agents</div>
            <div class="card-body">

                <p class="card-text text-center">{{ totalAgents }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Campaigns</div>
            <div class="card-body">
                <p class="card-text text-center">{{ totalCampaigns }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Number of Data Tables
            </div>
            <div class="card-body">
                <p class="card-text text-center">{{ totalDataTables }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #0066b2;">Outbound vs Inbound</div>
            <div class="card-body">
                <p class="card-text text-center"><span> {{ totalInbound }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" stroke="black" stroke-linecap="round" stroke-width="2" d="M15 19V5M9 19V5" />
                    </svg>
                    <span> {{ totalOutbound }} </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #367588;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text text-center">
                    <span class="fst-italic" style="color: #002147;">Total Leads</span>  <span style="margin-left: 44px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Generated</span> <span style="margin-left: 50px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Called</span> <span style="margin-left: 80px;">0000</span><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #367588;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text text-center">
                    <span class="fst-italic" style="color: #002147;">Total Leads</span>  <span style="margin-left: 44px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Generated</span> <span style="margin-left: 50px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Called</span> <span style="margin-left: 80px;">0000</span><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #367588;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text text-center">
                    <span class="fst-italic" style="color: #002147;">Total Leads</span>  <span style="margin-left: 44px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Generated</span> <span style="margin-left: 50px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Called</span> <span style="margin-left: 80px;">0000</span><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #367588;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text text-center">
                    <span class="fst-italic" style="color: #002147;">Total Leads</span>  <span style="margin-left: 44px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Generated</span> <span style="margin-left: 50px;">0000</span><br />
                    <span class="fst-italic" style="color: #002147;">Called</span> <span style="margin-left: 80px;">0000</span><br />
                </p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #1ca9c9;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #1ca9c9;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #1ca9c9;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center text-white" style="background-color: #1ca9c9;">ABC Campaign</div>

            <div class="card-body">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
</div> -->