<h3
  class="display-6 mt-5 mb-4 text-uppercase d-flex justify-content-between align-items-center gradient-text"
  style="font-size: 30px"
>
  QC Records Client
</h3>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold">Record List</h6>
  </div>
  <p class="mt-4 ms-3 d-flex justify-content-between align-items-center">
    <label class="d-flex align-items-center">
      Show
      <select name="dataTable_length" class="form-select form-control-sm mx-2">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </label>
    <span class="me-3">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </span>
  </p>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Action</th>
              <th>Call date</th>
              <th>Name</th>
              <th>ID</th>
              <th>Campaign</th>
              <th>Consumer number</th>
              <th>Duration</th>
              <th>Greetings</th>
              <th>Liveliness</th>
              <th>Pronunciation</th>
              <th>Mumbling</th>
              <th>Pace</th>
              <th>Pitch</th>
              <th>Courtesy</th>
              <th>Hold process</th>
              <th>Taking permission</th>
              <th>Acknowledgement & follow up</th>
              <th>Poor objection & negotiation skill</th>
              <th>CRM</th>
              <th>Closing</th>
              <th>Fatal</th>
              <th>Fatal Reason</th>
              <th>EAS voice matched with report</th>
              <th>Total</th>
              <th>Agent grade</th>
              <th>Suggestion</th>
              <th>QC inspector</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let qc of qcList">
              <td>
                <span class="ms-1 element-class"
                  ><i
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Edit the Campaign"
                    class="fa-solid fa-pen-to-square"
                    style="color: #005b96"
                    [routerLink]="['/editClientqc/', qc.id]"
                  ></i
                ></span>
                <span class="ms-2 element-class"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Delete the record"
                  class="fa-solid fa-trash"
                  style="color: #bb2124"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#deleteModal' + qc.id"
                ></i>
                <!-- delete modal -->
                <div
                  class="modal fade"
                  [id]="'deleteModal' + qc.id"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Are you sure?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Do you really want to delete {{ qc.agentName }}'s' record?
                        This process cannot be undone!
                      </div>
                      <div
                        class="modal-footer d-flex justify-content-between"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary btn-sm"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteQc(qc.id)"
                          data-bs-dismiss="modal"
                        >
                          Confirm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
              </td>
              <td class="call-date-column">{{ qc.callDate }}</td>
              <td class="call-date-column">{{ qc.agentName }}</td>
              <td>{{ qc.agentId }}</td>
              <td>{{ qc.campaignName }}</td>
              <td>{{ qc.consumerNumber }}</td>
              <td>{{ qc.duration }}</td>
              <td>{{ qc.greetingsMarks }}</td>
              <td>{{ qc.livelinessMarks }}</td>
              <td>{{ qc.pronunciationMarks }}</td>
              <td>{{ qc.mumblingMarks }}</td>
              <td>{{ qc.paceMarks }}</td>
              <td>{{ qc.pitchMarks }}</td>
              <td>{{ qc.courtesyMarks }}</td>
              <td>{{ qc.holdProcessMarks }}</td>
              <td>{{ qc.takingPermissionMarks }}</td>
              <td>{{ qc.acknowledgementAndFollowUpMarks }}</td>
              <td>{{ qc.poorObjectionAndNegotiationSkillMarks }}</td>
              <td>{{ qc.crmMarks }}</td>
              <td>{{ qc.closingMarks }}</td>
              <td>{{ qc.fatalMarks }}</td>
              <td>{{ qc.fatalReasonMarks }}</td>
              <td>{{ qc.easVoiceMatchedWithReportMarks }}</td>
              <td>{{ qc.total }}</td>
              <td>{{ qc.agentGrade }}</td>
              <td>{{ qc.suggestionMarks }}</td>
              <td>{{ qc.qcInspector }}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example" class="mt-5">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item element-class"><a class="page-link">1</a></li>
            <li class="page-item element-class"><a class="page-link">2</a></li>
            <li class="page-item element-class"><a class="page-link">3</a></li>
            <li class="page-item element-class">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
