.element-class:hover {
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #005b96, black);
    -webkit-background-clip: text;
    color: transparent;
    font-style: italic;
}