<h3 class="display-6 mt-5 mb-4 text-uppercase d-flex justify-content-between align-items-center gradient-text"
    style="font-size: 30px;">
    QC Panel

</h3>

<div class="card shadow mb-4">
    <div class="card-header mt-3">
        <h6 class="m-0 font-weight-bold">QC by Number</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <select name="campaign_name" class="form-control">
                        <option value="">Select Campaign</option>
                        <option value="MSB_Gift_Aware">MSB_Gift_Aware</option>
                        <option value="Bandhan_JUNE_2023">Bandhan_JUNE_2023</option>
                        <option value="Camel_All_Phase">Camel_All_Phase</option>
                        <option value="MSB_VAO">MSB_VAO</option>
                        <option value="Consumer Awareness Check Survey_Sep23">Consumer Awareness Check Survey_Sep23
                        </option>
                        <option value="MERCHANT_ADVANCE_SCRIPT_(SEIP)">MERCHANT_ADVANCE_SCRIPT_(SEIP)</option>
                        <option value="Auto Insurance_(SEIP)">Auto Insurance_(SEIP)</option>
                        <option value="Telemerketing-Water (SEIP)">Telemerketing-Water (SEIP)</option>
                        <option value="Telemerketing-Credit Card_(SEIP)">Telemerketing-Credit Card_(SEIP)</option>
                        <option value="Consumer_Study_Awareness">Consumer_Study_Awareness</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="number" name="" value="" class="form-control" placeholder="Search by Number">
                </div>
                <div class="col-sm-4">
                    <input type="submit" name="search" value="Search" class="btn btn-md btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>