.gradient-text {
    background: linear-gradient(to right, #005b96, black);
    -webkit-background-clip: text;
    color: transparent;
    font-style: italic;
  }

  .lead-table {
    width: 100%; 
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .lead-table th, 
  .lead-table td {
    width: 100px; 
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .lead-table th {
    background-color: #f2f2f2;
  }
  
  .lead-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .editable {
    cursor: pointer;
  }
  
  .editable-input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    outline: none;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #005b96;
  }
  

    