<h3 class="display-6 mt-5 mb-5 text-uppercase d-flex justify-content-between align-items-center gradient-text"
    style="font-size: 30px;">
    {{ campaignName }}
   
</h3>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">CRM</h6>
    </div>
    <div class="card-body" *ngFor="let question of questionsList; let i = index">
        <div class="mb-2">
            <label for="">{{ i + 1 }}. {{ question.title }} ({{ question.options }})</label><br />
            <small class="form-text text-muted">Instruction: {{ question.instruction }}</small><br />
        </div>
    </div>
</div>