body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0F5396;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 1px 1px 1px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.hrule {
  margin: 10px;
}

.sidenav a:hover {
  color: #B6D0E2;
}

.main-logged-in {
  margin-left: 270px;
  margin-top: 20px;
  margin-right: 40px;
}

.main-full {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.branding {
  text-align: center;
  margin-bottom: 20px;
}

.branding h1 {
  font-size: 24px;
  margin: 0;
  color: white; /* Set text color to white */
  position: relative; /* For positioning the stripe */
}

.branding h1:after {
  content: ''; /* Creates the stripe */
  position: absolute;
  left: 0;
  bottom: 0; /* Position at the bottom of the text */
  height: 4px; /* Thickness of the stripe */
  width: 100%; /* Full width of the text */
  // background: linear-gradient(135deg, #005b96, #2d78bb); /* Gradient for the stripe */
  z-index: -1; /* Place behind the text */
}

.fifo-tech {
  font-weight: bold;
  font-size: 22px;
  font-style: italic; /* Slightly larger for emphasis */
}

.crm {
  font-weight: normal;
  color: #e0f7fa; /* Light blue for contrast */
}
